<section>
    <h2 class="recipe-name title is-1">{{recipe.name}}</h2>
    <div class="subtitle is-6" id="author">
                <p>By: {{recipe.user.name}}</p>
            </div>
    <section class="flex-row justify-center">
        {{!-- <section class="card" id="recipe">
            {{!-- <header>{{recipe.name}}</header> --}}
            {{!-- <div class="card-body subtitle is-4" id="author">
                <p>By: {{recipe.user.name}}</p>
            </div>
        </section> --}}
        
         <section class="card" id="ingredient">
            <h3>Ingredients :</h3>
            <div class="card-body" id="ingredients-list">
               {{#each recipe.ingredients as |ingredient| }}  
               <h4>{{ingredient.name}}</h4> 
               <p> {{ingredient.amount}} {{ingredient.measurement_type}}</p>
               {{/each}}
            </div>
        </section>
     </section>
<section class="flex-row justify-center">
    <section class="card" id="recipe-instructions">
        <h3>Instructions</h3>
        <div class="card-body" id="instructions">
            <p>{{recipe.instructions}}</p>
        </div>
    </section>
</section>
    <section class="flex-row justify-center">
        <section class="card" id="comment-section">
            <h3>Comments : </h3>
            <div class="card-body" id="comments">
                   {{#each recipe.comments as |comment| }}  
                 {{!-- make user name in italics and lighter font --}}
               <h4>{{comment.name}} <span> by: {{comment.user.name}}</span></h4> 
               <p> {{comment.comment}}</p>
               {{/each}}
            </div>
        </section>
    </section>
</section>

